.ant-card-body {
    padding: 0 !important;
}

.ant-card-meta {
    margin: 0 !important;
    padding: 10px 0 10px 10px;
    display: flex;
    align-items: center;
}

.ant-card-actions > li {
    margin: 0;
    color: rgba(0, 0, 0, 0.45);
    margin-top: 25px;
}

.meme-card {
  margin-bottom: 30px !important;
  width: 60%;
}
