.memes_gallery {
  display: flex;
  flex-wrap: wrap;
}

.memes_gallery__card {
  height: 200px;
  width: 200px;
  background-size: 100% 100%;
  position: relative;
  margin: 5px;
  border-radius: 3px;
  transition: box-shadow .3s, border-color .3s, border-radius .3s;
}

.memes_gallery__card:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  border-radius: 5px;
}

.memes_gallery__card_description {
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,.6);
  position: absolute;
  bottom: 15px;
}
