#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.layout-container_theme-height {
  height: 100%;
}

.layout-container__logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.layout-container-wrapper__content {
  background: #fff;
}

.layout-container-wrapper__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #00153D;
  border-bottom: 1px solid gray;
}

.layout-container-wrapper__header-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-container__sidebar {
  overflow: auto;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.username {
  max-width: 136px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0;
  margin-right: 10px;
  color: #1890ff;
}
