.profile {
    height: inherit;
    width: 70%;
}

.profile__header {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.profile__avatar {
    margin-right: 50px;
}

.profile__info {

}

.profile__memes-grid {
    display: flex;
    flex-wrap: wrap;
}

.profile__meme-img {
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    img {
        width: 300px;
        height: 300px;
    }
}