@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
}

#root {
  height: inherit;
}

.top-panel {
  margin: 0;
  padding: 0;
  background-color: red;
  border: 4px solid red;
  border-radius: 2px;
  

  display: flex;
  justify-content: space-between;
}

.author {
  padding: 1% 1%;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: orange;
}

.like {
  border-radius: 50%;
  font-size: 1.5rem;
}

.meme {
  border: 0 solid rgb(255, 0, 0);
  border-radius: 1%;
  background-color: rgba(139, 139, 139, 0.1);
  height: 25rem; /* Высота области */
  margin: 0; /* Обнуляем отступы */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.big {
  width: 100%; /* Ширина изображений */
  height: 100%; /* Высота изображении */
  object-fit: scale-down; /* Вписываем фотографию в область */
  display: flex;
  align-items: center;
  justify-content: center
}